<!DOCTYPE html>
{% extends 'Testing/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<html>
<head>
    <meta charset="utf-8"/>
    <title>Results Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}"/>

    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>


<div class="container">

    <div class="page-header">
        <h1>Data Values</h1>
    </div>

    <!-- Editable Table - START -->
<form method="POST" class="post-form">{% csrf_token %}
    <div class="">
        <div class="col-md-6">
            <!-- Left column panels -->
            <div class="list-group">

                    {% for items in button %}
                        <button type="submit" name="{{ items }}" value="{{ items }}"
                                class="save btn btn-default list-group-item list-group-item-action"
                                onclick="highlight(this)">{{ items }}</button>
                    {% endfor %}

            </div>

        </div>
        <div class="col-md-6 ">

{#                {{ form|crispy }}#}
            {% if form != False %}
                {% crispy form %}
                <button type="submit" name="upload_to_DB" value="upload_to_DB" class="save btn btn-default ">Upload</button>
             {% else %}
                <h1>File can't be identified due to low resolution</h1>
                {{ filename.as_ul }}
                <button type="submit" name="next" value="next" class="save btn btn-default ">Next</button>

            {% endif %}


        </div>

    </div>
</form>
    </div>

</body>
</html>
{% endblock %}

<script type="text/javascript">
    var buttonClicked = null;

    function highlight(element) {
        if (buttonClicked != null) {
            buttonClicked.style.background = "grey";
            buttonClicked.style.color = "black";
        }
        buttonClicked = element;
        buttonClicked.style.background = "blue";
        buttonClicked.style.color = "white";
    }
</script>