{% block content %}
<html>
    <head>
        <title>Testing blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Testing Blog, {{ post.title }}</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post,{{ post.insert }} </a></h2>
            <p>Heading young 1 </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>kkw </p>
        </div>
    </body>
</html>
{% endblock %}