{% extends 'Testing/base.html' %}

{% block content %}

    <html>
    <head>
        <title>Search</title>
        <div class="py-5 bg-dark">
            <div class="container">
                <h3 class="m-0 text-center text-white">Search and Download</h3>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MECFS Data Central</a>
                    {#                    <img href="{% static "logo_h.png" %}" alt="" >#}
                    <ul class="nav navbar-nav">
                        <li><a href="new">Upload</a></li>
                        <li class="active"><a href="#">Search</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {#        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
                        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </head>
    <body>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="col-md-7">
            <!-- Left column panels -->
            <div class="list-group">
                {{ Search.as_ul }}
                <button style="position: relative; top:80px"
                        type="submit" name="Search"
                        value="Search" class="save btn btn-primary">
                    Search
                </button>

                <button style="position: relative; top:80px; left: 20px"
                        type="submit" name="download_db" value="download_db"
                        class="save btn btn-primary">Download Excel File
                </button>

            </div>
        </div>
        <div class="col-md-5 row ">
            {{ bloodform.as_ul }}
        </div>
    </form>


    </body>
    </html>
{% endblock %}
