{% extends 'Testing/base.html' %}

{% block content %}

    <head>

        <style>
            .drop-area {
                border: 2px solid #ccc;
                border-radius: 20px;
                width: 480px;
                font-family: sans-serif;
            {#margin: 100px auto;#} padding: 20px;
                height: 500px;
            }

            .drop-area.highlight {
                border: 2px dashed purple;
                background-color: rgb(247, 212, 247);
            }
        </style>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        {#        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}

        <!-- Custom styles for this template -->
        {#  <link href="css/sb-admin-2.min.css" rel="stylesheet">#}

    </head>

    <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Upload</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="submit-file" type="file" name="document" accept="image/png, image/jpeg"
                           multiple style="display: none"/>
                    <button type="submit" name="upload" value="upload" class="save btn btn-default"> Upload file
                    </button>
                    {#                    <button type="submit"> Upload file</button>#}
                </form>
            </div>

            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div class="row">


                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div id="drop-area" class="drop-area" enctype="multipart/form-data">
                                <p>Drag file here</p>
                                <div id="gallery"></div>
                            </div>


                            <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
                            <script type="text/javascript">
                                let dropArea = document.getElementById('drop-area')
                                let gl = document.getElementById('gallery')
                                dropArea.addEventListener('dragenter', highlight, false)
                                dropArea.addEventListener('dragover', highlight, false)
                                dropArea.addEventListener('dragleave', unHighlight, false)
                                dropArea.addEventListener('drop', unHighlight, false)
                                window.addEventListener('dragover', stop, false)
                                window.addEventListener('drop', stop, false)
                                dropArea.addEventListener('drop', onDrop, false)
                                window.addEventListener('click', deleteFile, false)

                                function highlight(e) {
                                    dropArea.classList.add('highlight')
                                    e.preventDefault()
                                    e.stopPropagation()
                                }

                                function unHighlight(e) {
                                    dropArea.classList.remove('highlight')
                                    e.preventDefault()
                                    e.stopPropagation()
                                }

                                function stop(e) {
                                    e.preventDefault()
                                    e.stopPropagation()
                                }

                                function onDrop(e) {
                                    let dt = e.dataTransfer
                                    let name = e.target.name
                                    let files = dt.files
                                    {#previewFile(files)#}
                                    e.preventDefault();
                                    displayFileName(name, files)
                                }


                                function previewFile(files) {
                                    [...files].forEach((file) => {
                                        if (file.type.includes('image')) {
                                            let reader = new FileReader()
                                            reader.readAsDataURL(file)
                                            reader.onloadend = function () {
                                                let img = document.createElement('img')
                                                img.src = reader.result
                                                document.getElementById('gallery').appendChild(img)
                                            }
                                        }
                                    })
                                }

                                function displayFileName(name, files) {
                                    let file_id = 0;
                                    [...files].forEach((file) => {
                                        if (file.type.includes('image')) {
                                            let reader = new FileReader()
                                            reader.readAsText(file)
                                            reader.onloadend = function () {

                                                let file_button = document.createElement("button");
                                                file_button.innerHTML = file.name;                   // Insert text
                                                {#let file_srt_id = file_id.toString();#}
                                                file_button.id = file_id.toString();
                                                file_button.onClick = "reply_click(this.id)";
                                                document.getElementById('gallery').appendChild(file_button);               // Append <button> to <body>
                                                file_id += 1;

                                            }
                                        }
                                    })
                                    document.getElementById('submit-file').files = files;
                                }

                                function reply_click(clicked_id) {
                                    alert(clicked_id);
                                }

                                function deleteFile(e) {
                                    console.log("here")
                                    let d = document.getElementById("gallery");
                                    let d_nested = document.getElementById("0");
                                    d.removeChild(d_nested);
                                    document.getElementById('submit-file').files.pop();
                                }

                            </script>


                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ME/CFS 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    {#    <script src="vendor/jquery/jquery.min.js"></script>#}
    {#    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}

    </body>
{% endblock %}


